body{
        font-family: 'Fira Sans', sans-serif;
        font-family: 'Lobster', cursive;
        font-family: 'Merriweather', serif;
        font-family: 'Rubik', sans-serif;
        border: none rebeccapurple;
        margin: 0%;
}
h1{
    font-size: 50px;
}
p{
    font-size: 18px;
}
.border{
    margin-right: 10px;
    border-left:10px solid;
}
.pareants{
    width: 90%;
    margin: 0 auto;
    display: flex;
    background-color: rgba(255, 222, 173, 0.466);
    align-content: center;
    
}
.child{
    width: 80%;
    margin: 100px;
    padding: 20px;
    content: 20px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 20px 40px 20px gray;
    background-image: url(./images/shape-5.png);
    border-radius: 30px;


    
}
.img{
    width: 100%;
    margin-top: 20px;
    padding:10px ;
    
}
a{
    padding: 5px 40px;
    background-image: linear-gradient(to right, red , blue);
    border: navy 20px;
    text-decoration: none;
    color: oldlace;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    
}
.missions{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-left-color:15px salmon  ;
    background-image: url(./images/shape-4.png);
    
}
span{
    color: darkorange;
}
.imgs{
    width: 100%;
}
.mission-section{
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
}
#my-mission{
    text-align: center;
}
#mission{
    background-color: rgba(176, 80, 218, 0.582);
    border-radius: 30px;
}
#vission{
    background-color: rgba(226, 217, 92, 0.582);
    border-radius: 30px;
}
#goal{
    background-color: rgba(37, 16, 30, 0.445);
    border-radius: 30px;
}
footer{
    align-content: center;
    background-color: black;
    padding: 50px;
    color: white;
    text-align: center;
}